/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt {
    flavor = "balanced";
    tapping-term-ms = <100>;
};

/ {
    combos {
        compatible = "zmk,combos";
    };

    macros {
    };

    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC    &kp N1  &kp N2    &kp N3     &kp N4    &kp N5       &kp KP_N7  &kp KP_N8  &kp KP_N9   &kp N6       &kp N7  &kp N8     &kp N9   &kp N0    &kp BSPC
&kp TAB    &kp Q   &kp W     &kp E      &kp R     &kp T        &kp KP_N4  &kp KP_N5  &kp KP_N6   &kp Y        &kp U   &kp I      &kp O    &kp P     &kp GRAVE
&kp CAPS   &kp A   &kp S     &kp D      &kp F     &kp G        &kp KP_N1  &kp KP_N2  &kp KP_N3   &kp H        &kp J   &kp K      &kp L    &kp SEMI  &kp ENTER
&kp LSHFT  &kp Z   &kp X     &kp C      &kp V     &kp B        &kp KP_N0  &kp UP     &kp KP_DOT  &kp N        &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
&to 1      &to 2   &kp LALT  &kp LCTRL  &kp LGUI  &lt 1 SPACE  &kp LEFT   &kp DOWN   &kp RIGHT   &lt 1 SPACE  &trans  &trans     &trans   &trans    &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &kp KP_N7  &kp KP_N8   &kp KP_N9     &kp KP_PLUS      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp KP_N4  &kp KP_N5   &kp KP_N6     &kp KP_MINUS     &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp KP_N1  &kp KP_N2   &kp KP_N3     &kp KP_MULTIPLY  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp KP_N0  &kp KP_DOT  &kp KP_ENTER  &kp KP_DIVIDE    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans      &trans        &trans           &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp F2  &kp F3  &trans     &trans    &trans    &trans     &trans   &kp BSPC
&trans  &trans  &trans  &trans  &trans  &trans  &kp F4  &kp F5  &kp F6  &kp PG_UP  &kp HOME  &kp UP    &kp END    &kp INS  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp DEL  &kp ENTER
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans    &trans    &trans     &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans    &trans    &trans     &trans   &trans
            >;
        };
    };
};
